body  {
  background: #9796f0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbc7d4, #9796f0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Roboto Mono;
  color: #faf5fb;
  margin: 0;
}

h1, h2, h3 {
  font-family: Nixie One;
  color: #faf5fb;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
  margin-bottom: 0;
}

.container  {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

#portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  min-height: 100vh;
  padding: 50px 0 50px 0;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-height: 97vh;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-form {
  border-left: 1px solid #faf5fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 50px 0;
  width: 100%;
  flex: 1.5;
}
.social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 12px;
  height: 3vh;
}

/*
.background {
  background-color: #490D40;
  background: url(background-image.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 650px;
}
*/

button {
  background-color: #faf5fb;
  border: none;
  border-radius: 50%;
  color: #c5c0f8;
  height: 50px;
  width: 50px;
}

button:focus {
  background-color: #c5c0f8;
  color: #faf5fb;
  outline: none;
}

button:hover {
  background-color: #c5c0f8;
  color: #faf5fb;
  cursor: pointer;
}

.fa {
  tabindex: -1;
}

.portfolio-thumbnail {
  border: solid 5px #faf5fb;;
  margin: 15px;
}

form {
  width: 50%;
}

input[type=text] {
    background: transparent;
    border: 0;
    border-bottom: 1px solid #faf5fb;
    color: #faf5fb;
    font-family: Roboto Mono;
    margin-bottom: 20px;
    padding: 5px 7px;
    width: 100%;
}

textarea {
  background-color: transparent;
  border: 1px solid #faf5fb;
  color: #faf5fb;
  width: 100%;
  height: 75px;
  margin-top: 5px;
  padding: 5px 7px;
  resize: none;
}

textarea:focus, input[type=text]:focus,
input[type=submit]:focus, input[type=reset]:focus,
input[type=submit]:hover, input[type=reset]:hover {
  background-color: rgba(252, 234, 237, 0.5);
  outline: none;
}

input[type=submit], input[type=reset] {
  background-color: #e3bbda;
  border: 1px solid #faf5fb;
  color: #faf5fb;
  cursor: pointer;
  font-family: Roboto Mono;
  font-size: 14px;
  height: 32px;
  margin: 0 5px 0 0;
  padding: 0px 16px;
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #faf5fb;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #faf5fb;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #faf5fb;
}

li {
  display: inline;
}

ul {
  padding: 0;
  text-align: cetner;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  height: 50px;
  width: 100%;
  overflow: hidden;
  background-color: transparent;
}

#navbar a {
  font-family: Roboto Mono;
  font-size: 12px;
  color: #faf5fb;
  padding: 14px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* Resposive design */

@media screen and (max-width:990px) {
  body {
    background: #9796f0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #9796f0, #fbc7d4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #9796f0, #fbc7d4);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
  }
  #contact, .contact {
    flex-wrap: wrap;
    width: 100%;
  }
  .portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
  }
  .contact-form {
    flex-basis: 100%;
    padding: 30px 0 20px 0;
    border: none;
    order: 1;
  }
  .social-media {
    order: 2;
  }
  #navbar {
    background-color: #faf5fb;
    -webkit-box-shadow: 0 1px 50px #d4b4de;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0 1px 50px #d4b4de;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 0 1px 50px #d4b4de;
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    height: 40px;
  }
  #navbar a {
    font-family: Roboto Mono;
    color: #e7bdda;
    padding: 14px;
    text-decoration: none;
  }

}
